<div class="nested-fields">
	<div class="jumbotron">
		<div class="row pull-right">
			<div class="col-xs-12">
				<%= link_to_remove_association '<i class="fa fa-close"></i> Remove'.html_safe, f, :class => "btn btn-warning" %>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-5">
				<%= f.input :transaction_type, :collection => TransactionType.all, :label_method => :description, :include_blank => false %>
			</div>
			<div class="col-xs-5">
				<%= f.input :product_id, :collection => Supply.all.order(:name), :label_method => lambda { |supply| "#{supply.name} - #{supply.quantity} available".html_safe }, :include_blank => false %>
			</div>
			<div class="col-xs-2">
				<%= f.input :quantity %>
			</div>
		</div>
	</div>
</div>